{% from 'macroses/submit_post.html' import submit_post_macro %}
{% from 'macroses/thread.html' import thread_macro %}

{% extends "base.html" %}

{% block content %}

{{ submit_post_macro(true) }}

{% set threads_count = threads|length %}

{% if threads %}
    {% for i in range(threads_count) %}
        <div class="thread_container">
            {% set show_full_thread = false %}
            {{ thread_macro(threads[i], posts[i], show_full_thread) }}
            <hr>
        </div>
    {% endfor %}
{% endif %}

<style>

    .thread_container {
        padding-bottom:0px;
        padding-top:0px;
    }

    .thread_divider {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
</style>

{% endblock %}