{% from 'macroses/image_viewer.html' import image_viewer_macro %}
{% from 'macroses/reply_viewer.html' import reply_viewer_macro %}

{% macro thread_header_macro(thread_title, post, post_id, posts_count, thread_url, show_full_thread) %}

<div class="thread_header_container">
    <div class="thread_header_metadata_container">
        {{ thread_title }}
        {{ post['date_time'] }}
        {{ post['id'] }}
        {% if not show_full_thread %}
            <a href="{{ url_for('thread.thread', thread_id=thread_url) }}">Posts: {{posts_count}}</a>
        {% endif %}
    </div>
    <div class="thread_header_images_container">
        {% if post.images %}
        {% for image in post.images %}
            {% set image_index = image['id']|string + "_" + post_id|string %}
            {% set render_modal_only = false %}
            <div class="thread_header_image_container">
                {{ image_viewer_macro(image, image_index, render_modal_only) }}
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="thread_header_text_container">
    {% for line in post['rendered_content'] %}
    {{ line['text'] | safe }}
    {% endfor %}
    </div>
</div>

<style>
    /* .thread_header_container {
        background-color: lightgray;
        padding-bottom:10px;
        padding-top:10px;
        padding-left:5px;
        padding-right:5px;
        border-style: solid;
        border-width: 0.1px;
        border-color: grey;
    } */

    /* .metadata_container {
        margin-left: 5px;
        margin-bottom: 5px;
    } */

    .thread_header_images_container {
        display: inline-block;
    }

    .thread_header_image_container {
        float: left;
        padding-left:5px;
    }

</style>

{% endmacro %}